@charset "utf-8";
.surveypie {
	width:760px;
	margin:5px auto;
}
.survey_header {
	background:url(/images/surveyheader_logo.gif) no-repeat transparent 1% 50%;
	height:40px;
}
.page 
{
	border-radius:5px;
	-moz-border-radius:5px;
	background-color:#FFF;
	border:1px solid #E3E3E3;	
	padding-bottom:10px;	
}
/* 调查表标题 <h1> */
.page .survey-title {
	padding:15px 10px;
	margin:0px;
}
/* 调查表简介文字 <div> */

.page .survey-intro {
}
/* 页面标题 <h2> */

.page .page-title {
}
/* 页面简介文字 <div> */

.page .page-intro {
}
/* 页面内容列表 <ol> */

.page ol.content {
}
/* 调查表对象标题行 <div> */

h4.title {
	padding:3px;
	font-weight: bold;
	color: #599200;
}
/* 问题题目 <span> */

.page .part .subject {
}
/* 问题提示信息 <span> */
h4.title .notice {
	color:#818181;
}
/* 填写时错误信息 <span> */
h4.title .error {
	color:#FF0000;
}
/* 问题简介文字 <div> */

.page .part .intro {
}
/* 问题简介图片区域 <p> */

.page .part .illustrate {
}
/****************************** 分隔符 ******************************/

/* 分隔符标题 <h3> */

.page .separator .title {
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 15px;
	background-image: none;
	padding-bottom: 5px;
	color: rgb(0,0,0);
	padding-top: 5px;
	background-color: #c1eb80;
	text-align: left
}
/* 分隔符简介文字 <div> */

.page .separator .intro {
}
/****************************** 填空题 ******************************/

/* 填空题标题行 <h4> */

.page .text .title {
}
/* 填空题简介文字 <div> */

.page .text .intro {
}
/* 填空题简介图片 <div> */

.page .text .illustrate {
}
/* 填空题表单 */

.page .text input {
}
/* 问答题表单 */

.page .text textarea {
}
/****************************** 选择题 ******************************/

/* 选择题标题行 <h4> */

.page .select .title {
}
/* 选择题简介文字 <div> */

.page .select .intro {
}
/* 选择题简介图片区域 <div> */

.page .select .illustrate {
}
/* 选择题选项表格 <table> */

.page .select .options {
}
/* 选择题选项表格奇行 <tr> */

.page .select .options .odd {
}
/* 选择题选项表格偶行 <tr> */
.page li.error .select .options .even
{
	background-color:none;
}
.page .select .options .even {
	background-color: #eff6fb;
}
/* 单选题表单 */

.page .select .options input[type="radio"] {
}
/* 多选题表单 */

.page .select .options input[type="checkbox"] {
}
/* 选择题 自定义选项表单 */

.page .select .options input[type="text"] {
}
/****************************** 组合选择题 ******************************/

/* 组合选择题标题 <h4> */

.page .matrix .title {
}
/* 组合选择题简介文字 <div> */

.page .matrix .intro {
}
/* 组合选择题简介图片 <div> */

.page .matrix .illustrate {
}
/* 组合选择题选项表格 <table> */

.page .matrix .options {
}
/* 组合选择题选项表格奇行 <tr> */

.page .matrix .options .odd {
}
/* 组合选择题选项表格偶行 <tr> */

.page .matrix .options .even {
	background-color: #eff6fb;
}
/* 单选组合选择题表单 */

.page .matrix .options input[type="radio"] {
}
/* 多选组合选择题表单 */

.page .matrix .options input[type="checkbox"] {
}
.page_progress
{
	background:#fff;
}
.page_grogress table
{
	padding:0px;
}
.page_progress .loaded
{
	background-color:#bde8b3;
}