<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.panelsns.model.entity.LogicUnit">
  <resultMap id="BaseResultMap" type="com.survey.panelsns.model.entity.LogicUnit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ques_naire_id" jdbcType="BIGINT" property="quesNaireId" />
    <result column="ques_id" jdbcType="BIGINT" property="quesId" />
    <result column="ques_option_id" jdbcType="BIGINT" property="quesOptionId" />
    <result column="ques_option_val" jdbcType="VARCHAR" property="quesOptionVal" />
    <result column="logic_condition_id" jdbcType="BIGINT" property="logicConditionId" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ques_naire_id, ques_id, ques_option_id, ques_option_val, logic_condition_id, 
    version, remark
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from logic_unit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from logic_unit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.survey.panelsns.model.entity.LogicUnit">
    insert into logic_unit (id, ques_naire_id, ques_id, 
      ques_option_id, ques_option_val, logic_condition_id, 
      version, remark)
    values (#{id,jdbcType=BIGINT}, #{quesNaireId,jdbcType=BIGINT}, #{quesId,jdbcType=BIGINT}, 
      #{quesOptionId,jdbcType=BIGINT}, #{quesOptionVal,jdbcType=VARCHAR}, #{logicConditionId,jdbcType=BIGINT}, 
      #{version,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.survey.panelsns.model.entity.LogicUnit">
    insert into logic_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="quesNaireId != null">
        ques_naire_id,
      </if>
      <if test="quesId != null">
        ques_id,
      </if>
      <if test="quesOptionId != null">
        ques_option_id,
      </if>
      <if test="quesOptionVal != null">
        ques_option_val,
      </if>
      <if test="logicConditionId != null">
        logic_condition_id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="quesNaireId != null">
        #{quesNaireId,jdbcType=BIGINT},
      </if>
      <if test="quesId != null">
        #{quesId,jdbcType=BIGINT},
      </if>
      <if test="quesOptionId != null">
        #{quesOptionId,jdbcType=BIGINT},
      </if>
      <if test="quesOptionVal != null">
        #{quesOptionVal,jdbcType=VARCHAR},
      </if>
      <if test="logicConditionId != null">
        #{logicConditionId,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateBySelectiveId" parameterType="com.survey.panelsns.model.entity.LogicUnit">
    update logic_unit
    <set>
      <if test="quesNaireId != null">
        ques_naire_id = #{quesNaireId,jdbcType=BIGINT},
      </if>
      <if test="quesId != null">
        ques_id = #{quesId,jdbcType=BIGINT},
      </if>
      <if test="quesOptionId != null">
        ques_option_id = #{quesOptionId,jdbcType=BIGINT},
      </if>
      <if test="quesOptionVal != null">
        ques_option_val = #{quesOptionVal,jdbcType=VARCHAR},
      </if>
      <if test="logicConditionId != null">
        logic_condition_id = #{logicConditionId,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.survey.panelsns.model.entity.LogicUnit">
    update logic_unit
    set ques_naire_id = #{quesNaireId,jdbcType=BIGINT},
      ques_id = #{quesId,jdbcType=BIGINT},
      ques_option_id = #{quesOptionId,jdbcType=BIGINT},
      ques_option_val = #{quesOptionVal,jdbcType=VARCHAR},
      logic_condition_id = #{logicConditionId,jdbcType=BIGINT},
      version = #{version,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>