<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.panelsns.model.entity.QuesOption">
  <resultMap id="BaseResultMap" type="com.survey.panelsns.model.entity.QuesOption">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ques_id" jdbcType="BIGINT" property="quesId" />
    <result column="serial_no" jdbcType="INTEGER" property="serialNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
     <result column="control_mess" jdbcType="VARCHAR" property="controlMess" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ques_id, serial_no, title, content, control_mess,version, remark
  </sql>
  
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ques_option
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from ques_option
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByQuesId" parameterType="java.lang.Long">
    delete from ques_option
    where ques_id = #{quesId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.survey.panelsns.model.entity.QuesOption">
    insert into ques_option (ques_id, serial_no, 
      title, content,control_mess, version, remark)
    values (#{quesId,jdbcType=BIGINT}, #{serialNo,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},#{controlMess,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
      <selectKey resultType="long" keyProperty="id">
		<![CDATA[select @@IDENTITY AS id]]>
	  </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.survey.panelsns.model.entity.QuesOption">
    insert into ques_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="quesId != null">
        ques_id,
      </if>
      <if test="serialNo != null">
        serial_no,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="controlMess != null">
        control_mess,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="quesId != null">
        #{quesId,jdbcType=BIGINT},
      </if>
      <if test="serialNo != null">
        #{serialNo,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="controlMess != null">
        #{controlMess,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateSelectiveById" parameterType="com.survey.panelsns.model.entity.QuesOption">
    update ques_option
    <set>
      <if test="quesId != null">
        ques_id = #{quesId,jdbcType=BIGINT},
      </if>
      <if test="serialNo != null">
        serial_no = #{serialNo,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="controlMess != null">
        control_mess = #{controlMess,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.survey.panelsns.model.entity.QuesOption">
    update ques_option
    set ques_id = #{quesId,jdbcType=BIGINT},
      serial_no = #{serialNo,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      control_mess = #{controlMess,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>