<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.panelsns.model.entity.Ques">
  <resultMap id="BaseResultMap" type="com.survey.panelsns.model.entity.Ques">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ques_naire_id" jdbcType="BIGINT" property="quesNaireId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="page_no" jdbcType="INTEGER" property="pageNo" />
    <result column="serial_no" jdbcType="INTEGER" property="serialNo" />
    <result column="busi_no" jdbcType="VARCHAR" property="busiNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="must_answer" jdbcType="INTEGER" property="mustAnswer" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="control_mess" jdbcType="LONGVARCHAR" property="controlMess" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ques_naire_id, type, page_no, serial_no, busi_no, title, content, descript, must_answer,  
    create_date, update_date, version, remark,control_mess
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ques
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from ques
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.survey.panelsns.model.entity.Ques">
    insert into ques (id, ques_naire_id, type,  page_no,
      serial_no, busi_no, title, 
      content, descript, must_answer, 
      create_date, update_date, version, 
      remark, control_mess)
    values (#{id,jdbcType=BIGINT}, #{quesNaireId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{pageNo,jdbcType=INTEGER},
      #{serialNo,jdbcType=INTEGER}, #{busiNo,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}, #{mustAnswer,jdbcType=INTEGER}, 
      #{createDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE}, #{version,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{controlMess,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.survey.panelsns.model.entity.Ques">
    insert into ques
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="quesNaireId != null">
        ques_naire_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="pageNo != null">
        page_no,
      </if>
      <if test="serialNo != null">
        serial_no,
      </if>
      <if test="busiNo != null">
        busi_no,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="mustAnswer != null">
        must_answer,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="controlMess != null">
        control_mess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="quesNaireId != null">
        #{quesNaireId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="pageNo != null">
        #{pageNo,jdbcType=INTEGER},
      </if>
      <if test="serialNo != null">
        #{serialNo,jdbcType=INTEGER},
      </if>
      <if test="busiNo != null">
        #{busiNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="mustAnswer != null">
        #{mustAnswer,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="controlMess != null">
        #{controlMess,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSelectiveById" parameterType="com.survey.panelsns.model.entity.Ques">
    update ques
    <set>
      <if test="quesNaireId != null">
        ques_naire_id = #{quesNaireId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="pageNo != null">
        page_no = #{pageNo,jdbcType=INTEGER},
      </if>
      <if test="serialNo != null">
        serial_no = #{serialNo,jdbcType=INTEGER},
      </if>
      <if test="busiNo != null">
        busi_no = #{busiNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="mustAnswer != null">
        must_answer = #{mustAnswer,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="controlMess != null">
        control_mess = #{controlMess,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.survey.panelsns.model.entity.Ques">
    update ques
    set ques_naire_id = #{quesNaireId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      page_no = #{pageNo,jdbcType=INTEGER},
      serial_no = #{serialNo,jdbcType=INTEGER},
      busi_no = #{busiNo,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      must_answer = #{mustAnswer,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE},
      version = #{version,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      control_mess = #{controlMess,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>