<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.panelsns.model.entity.QuesNaire">
  <resultMap id="BaseResultMap" type="com.survey.panelsns.model.entity.QuesNaire">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="survey_id" jdbcType="BIGINT" property="surveyId" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="header" jdbcType="VARCHAR" property="header" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="footer" jdbcType="VARCHAR" property="footer" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="total_page" jdbcType="INTEGER" property="totalPage" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="updaet_date" jdbcType="DATE" property="updaetDate" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, survey_id, template_id, type, name, code, header, title, footer, priority, descript, 
    status, total_page, create_date, updaet_date, version, remark
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ques_naire
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from ques_naire
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.survey.panelsns.model.entity.QuesNaire">
    insert into ques_naire (id, survey_id, template_id, 
      type, name, code, header, 
      title, footer, priority, 
      descript, status, total_page, 
      create_date, updaet_date, version, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{surveyId,jdbcType=BIGINT}, #{templateId,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{header,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{footer,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, 
      #{descript,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{totalPage,jdbcType=INTEGER}, 
      #{createDate,jdbcType=DATE}, #{updaetDate,jdbcType=DATE}, #{version,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.survey.panelsns.model.entity.QuesNaire">
    insert into ques_naire
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="surveyId != null">
        survey_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="header != null">
        header,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="footer != null">
        footer,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="totalPage != null">
        total_page,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updaetDate != null">
        updaet_date,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="surveyId != null">
        #{surveyId,jdbcType=BIGINT},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="header != null">
        #{header,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="footer != null">
        #{footer,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="totalPage != null">
        #{totalPage,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updaetDate != null">
        #{updaetDate,jdbcType=DATE},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateBySelectiveId" parameterType="com.survey.panelsns.model.entity.QuesNaire">
    update ques_naire
    <set>
      <if test="surveyId != null">
        survey_id = #{surveyId,jdbcType=BIGINT},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="header != null">
        header = #{header,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="footer != null">
        footer = #{footer,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="totalPage != null">
        total_page = #{totalPage,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updaetDate != null">
        updaet_date = #{updaetDate,jdbcType=DATE},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.survey.panelsns.model.entity.QuesNaire">
    update ques_naire
    set survey_id = #{surveyId,jdbcType=BIGINT},
      template_id = #{templateId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      header = #{header,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      footer = #{footer,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      descript = #{descript,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      total_page = #{totalPage,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE},
      updaet_date = #{updaetDate,jdbcType=DATE},
      version = #{version,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>