<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.panelsns.model.entity.Survey">
	<resultMap id="BaseResultMap" type="com.survey.panelsns.model.entity.Survey">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="industry" jdbcType="INTEGER" property="industry" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="need_panel_num" jdbcType="INTEGER" property="needPanelNum" />
		<result column="endow_point" jdbcType="INTEGER" property="endowPoint" />
		<result column="hortation_point" jdbcType="INTEGER" property="hortationPoint" />
		<result column="begin_date" jdbcType="DATE" property="beginDate" />
		<result column="end_date" jdbcType="DATE" property="endDate" />
		<result column="cancle_date" jdbcType="DATE" property="cancleDate" />
		<result column="create_date" jdbcType="DATE" property="createDate" />
		<result column="descript" jdbcType="VARCHAR" property="descript" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		id, project_id, industry, name, need_panel_num, endow_point,
		hortation_point, begin_date,
		end_date, cancle_date, create_date, descript, status, version, remark
	</sql>
	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from survey
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from survey
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.survey.panelsns.model.entity.Survey">
		insert into survey (id, project_id, industry,
		name, need_panel_num, endow_point,
		hortation_point, begin_date, end_date,
		cancle_date, create_date, descript,
		status, version, remark
		)
		values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT},
		#{industry,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR}, #{needPanelNum,jdbcType=INTEGER}, #{endowPoint,jdbcType=INTEGER},
		#{hortationPoint,jdbcType=INTEGER}, #{beginDate,jdbcType=DATE},
		#{endDate,jdbcType=DATE},
		#{cancleDate,jdbcType=DATE}, #{createDate,jdbcType=DATE}, #{descript,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}, #{version,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.survey.panelsns.model.entity.Survey">
		insert into survey
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
			<if test="industry != null">
				industry,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="needPanelNum != null">
				need_panel_num,
			</if>
			<if test="endowPoint != null">
				endow_point,
			</if>
			<if test="hortationPoint != null">
				hortation_point,
			</if>
			<if test="beginDate != null">
				begin_date,
			</if>
			<if test="endDate != null">
				end_date,
			</if>
			<if test="cancleDate != null">
				cancle_date,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="descript != null">
				descript,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=BIGINT},
			</if>
			<if test="industry != null">
				#{industry,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="needPanelNum != null">
				#{needPanelNum,jdbcType=INTEGER},
			</if>
			<if test="endowPoint != null">
				#{endowPoint,jdbcType=INTEGER},
			</if>
			<if test="hortationPoint != null">
				#{hortationPoint,jdbcType=INTEGER},
			</if>
			<if test="beginDate != null">
				#{beginDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=DATE},
			</if>
			<if test="cancleDate != null">
				#{cancleDate,jdbcType=DATE},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=DATE},
			</if>
			<if test="descript != null">
				#{descript,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateSelectiveById" parameterType="com.survey.panelsns.model.entity.Survey">
		update survey
		<set>
			<if test="projectId != null">
				project_id = #{projectId,jdbcType=BIGINT},
			</if>
			<if test="industry != null">
				industry = #{industry,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="needPanelNum != null">
				need_panel_num = #{needPanelNum,jdbcType=INTEGER},
			</if>
			<if test="endowPoint != null">
				endow_point = #{endowPoint,jdbcType=INTEGER},
			</if>
			<if test="hortationPoint != null">
				hortation_point = #{hortationPoint,jdbcType=INTEGER},
			</if>
			<if test="beginDate != null">
				begin_date = #{beginDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				end_date = #{endDate,jdbcType=DATE},
			</if>
			<if test="cancleDate != null">
				cancle_date = #{cancleDate,jdbcType=DATE},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=DATE},
			</if>
			<if test="descript != null">
				descript = #{descript,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.survey.panelsns.model.entity.Survey">
		update survey
		set project_id = #{projectId,jdbcType=BIGINT},
		industry = #{industry,jdbcType=INTEGER},
		name = #{name,jdbcType=VARCHAR},
		need_panel_num = #{needPanelNum,jdbcType=INTEGER},
		endow_point = #{endowPoint,jdbcType=INTEGER},
		hortation_point = #{hortationPoint,jdbcType=INTEGER},
		begin_date = #{beginDate,jdbcType=DATE},
		end_date = #{endDate,jdbcType=DATE},
		cancle_date = #{cancleDate,jdbcType=DATE},
		create_date = #{createDate,jdbcType=DATE},
		descript = #{descript,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		version = #{version,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<sql id="Pagination_Sql">
		select entity.* from survey entity,project pro where entity.project_id=pro.id and pro.user_id=#{userId,jdbcType=BIGINT}
		<if test="name != null">
			and entity.name = #{name,jdbcType=VARCHAR},
		</if>
		<if test="status != null">
			and entity.status = #{status,jdbcType=INTEGER}
		</if>
	</sql>

	<select id="selectCount" parameterType="com.survey.panelsns.model.entity.Survey"
		resultType="java.lang.Long">
		select count(*) from (
		<include refid="Pagination_Sql" />
		) t_count;
	</select>

	<select id="selectList" parameterType="com.survey.panelsns.model.entity.Survey"
		resultMap="BaseResultMap">
		<include refid="Pagination_Sql" />
		<choose>
			<when test="orderCol!=null and orderType!=null">
				<choose>
					<when test="orderCol=='create_date'">
						ORDER BY entity.create_date  
						<choose>
							<when test="orderType=='desc'">
								desc
							</when>
							<otherwise>
								asc
							</otherwise>
						</choose>
						,entity.id DESC
					</when>
					<when test="orderCol=='name'">
						ORDER BY entity.name  
						<choose>
							<when test="orderType=='desc'">
								desc
							</when>
							<otherwise>
								asc
							</otherwise>
						</choose>
						,entity.id DESC
					</when>
				</choose>
			</when>
			<otherwise>
				ORDER BY entity.id DESC
			</otherwise>
		</choose>
		
	</select>
</mapper>