<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.panelsns.model.entity.Users">
  <resultMap id="BaseResultMap" type="com.survey.panelsns.model.entity.Users">
    <id column="id" jdbcType="BIGINT" property="id" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id
  </sql>
  <delete id="delete" parameterType="java.lang.Long">
    delete from users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.survey.panelsns.model.entity.Users">
    insert into users (id)
    values (#{id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.survey.panelsns.model.entity.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>