<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta content="调查派@diaochapai.com" name="author" />
<meta content="本页版权 www.diaochapai.com调查派所有。All Rights Reserved" name="copyright" />
<link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
<title>dddadfasdfasdf - 调查派 – 简单，好用的在线调查系统</title>

<meta name="description"
 content="调查派是免费的在线问卷调查系统，帮您设计问卷并将它们在网上发布。提供市场调查，满意度调查，社会调查等问卷调查服务。调查表设计简单易操作，数据统计分析专业，是您在制作调查问卷时最好的选择" />
<meta name="keywords" content="dd,dd,da,ad,df,fa,as,sd,df,fa,as,sd,df" />
<link rel="stylesheet" href="/css/skins/layout.css" type="text/css" />
<link rel="stylesheet" href="/css/skins/default.css" type="text/css" />
</head>

<body>
 <noscript>浏览器Javascript未开启，请在启用Javascript功能后刷新浏览器</noscript>
 <div id="loading" style="display: none;">Loading ...</div>
 <div id="main">
  <h1 class="test_mode_notice">此调查表正在运行在预览状态，提交的数据将不会被保存</h1>
  <div class="surveypie" data-hide="" sn="5b6673d9-205b-48d9-a528-0bed4f367d8e">
   <div class="survey_header"></div>
   <table class="page_progress" id="page_progress">
    <tr>
     <td width="100%" id="page_progress_bar">
      <div class="loaded" style="width: 33%">&nbsp;</div>
      <div class="wait" style="width: 33%">&nbsp;</div>
      <div class="wait" style="width: 33%">&nbsp;</div>
     </td>
     <td nowrap="nowrap"><span id="current_page"></span>/<span id="total_page">3</span></td>
    </tr>
   </table>
   <form method="post" id="survey">
    <div class="survey_body">
     <div class="page" _sn="dc16a093-173f-4c77-8932-7e50cffca963">
      <div class="page-header">
       <h1 class="survey-title">dddadfasdfasdf</h1>
      </div>
      <ol class="content">
       <li class="part select" _require="0" _sn="dc62494d-9d4f-4de9-9878-fba5f5fa4b97">
        <h4 class="title">
         <span class="subject">您平时是否喜欢使用马克杯呢</span> <label class="error"></label>
        </h4>
        <table class="options">
         <tr class="odd">
          <td><input type="radio" id="05c5e340-7d0c-4412-a513-cb7addc5cc7f"
           name="dc62494d-9d4f-4de9-9878-fba5f5fa4b97[]" value="05c5e340-7d0c-4412-a513-cb7addc5cc7f" /><label
           for="05c5e340-7d0c-4412-a513-cb7addc5cc7f">是</label></td>
         </tr>
         <tr class="even">
          <td><input type="radio" id="9f159a98-cc0e-4ed2-8063-f032bf65b995"
           name="dc62494d-9d4f-4de9-9878-fba5f5fa4b97[]" value="9f159a98-cc0e-4ed2-8063-f032bf65b995" /><label
           for="9f159a98-cc0e-4ed2-8063-f032bf65b995">否</label></td>
         </tr>
         <tr class="odd">
          <td><input type="radio" id="2047bad6-ee41-4fe6-839e-5cf37bf458f8"
           name="dc62494d-9d4f-4de9-9878-fba5f5fa4b97[]" value="2047bad6-ee41-4fe6-839e-5cf37bf458f8" /><label
           for="2047bad6-ee41-4fe6-839e-5cf37bf458f8">1</label></td>
         </tr>
         <tr class="even">
          <td><input type="radio" id="d79f0d3e-b11f-4f8a-91e6-67e3a6876317"
           name="dc62494d-9d4f-4de9-9878-fba5f5fa4b97[]" value="d79f0d3e-b11f-4f8a-91e6-67e3a6876317" /><label
           for="d79f0d3e-b11f-4f8a-91e6-67e3a6876317">2</label></td>
         </tr>
         <tr class="odd">
          <td><input type="radio" id="c58fa531-d617-40ee-991a-a37ed7a4ac77"
           name="dc62494d-9d4f-4de9-9878-fba5f5fa4b97[]" value="c58fa531-d617-40ee-991a-a37ed7a4ac77" /><label
           for="c58fa531-d617-40ee-991a-a37ed7a4ac77">3</label></td>
         </tr>
         <tr class="even">
          <td><input type="radio" id="2f737e0a-bd36-4891-9fe3-3414917881e2"
           name="dc62494d-9d4f-4de9-9878-fba5f5fa4b97[]" value="2f737e0a-bd36-4891-9fe3-3414917881e2" /><label
           for="2f737e0a-bd36-4891-9fe3-3414917881e2">4</label></td>
         </tr>
         <tr class="odd">
          <td><input type="radio" id="893fbb01-07d6-4084-bd08-9c5f678bd41b"
           name="dc62494d-9d4f-4de9-9878-fba5f5fa4b97[]" value="893fbb01-07d6-4084-bd08-9c5f678bd41b" /><label
           for="893fbb01-07d6-4084-bd08-9c5f678bd41b">5</label></td>
         </tr>
        </table>
       </li>
      </ol>
     </div>
    </div>
   </form>
  </div>
  <div class="submit">
   <div class="button">
    <button type="button" id="survey_prev" class="prev" style="display: none;">上一页</button>
    <button type="button" id="survey_next" class="next">下一页</button>
    <button type="button" id="survey_submit" class="submit" style="display: none;">提交</button>
   </div>
  </div>
 </div>

 <div class="poweredby">
  powered by <a href="/" target="_blank">调查派</a>
 </div>
 <div style="margin: 10px auto 10px auto; width: 728px; border: 1px solid #CCC;" id="show_ads"></div>
 
<script type="text/javascript" src="/js/jq/jquery.js"></script>
 
</body>
</html>
