<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

</head>

<body>
 <form onsubmit="return false;" class="part_editor">
  <div class="control">
   <button name="close" type="button">确定</button>
  </div>
  <div class="body">
   <input type="text" maxlength="255" style="width: 98%; text-align: start;" name="subject" />
   <div>
    <input type="checkbox" name="is_require" id="is_require" checked="checked" />
    <label for="is_require">必填 |</label>
    <input type="checkbox" name="intro_trigger" id="intro_trigger" />
    <label for="intro_trigger">说明 |</label> 类型
    <select name="form_type">
     <option value="1">单选</option>
     <option value="2">多选</option>
     <option value="3">下拉菜单</option>
    </select>
    <span id="set_choice_limit" style="display: none;">
     至少选择
     <input type="text" maxlength="2" size="2" name="least_choice" />
     项，最多选择
     <input type="text" maxlength="2" size="2" name="most_choice" />
     项
    </span>
    <span id="set_options_layout">
     选项排列方向
     <select name="direction">
      <option value="1">竖向</option>
      <option value="2">橫向</option>
      <option value="3">自定义</option>
     </select>
     <span id="set_column_number" style="display: none;">
      每行显示
      <input type="text" maxlength="2" size="2" name="column_per_row" />
      列
     </span>
    </span>
    <span id="set_shuffle">
     <input type="checkbox" name="shuffle_options" id="shuffle_options" />
     <label for="shuffle_options">选项随机排序</label>
    </span>
   </div>
  </div>
  <div style="display: none">
   <textarea name="intro" class="rich_text_editor"></textarea>
  </div>
  <div class="options">
   <button name="add_options" type="button">批量增加选项</button>
   <div class="list">
    <div class="select_option">
     <span class="url_not_set" name="url_status">&nbsp;</span>
     <input type="text" name="label" />
     <!--  
     <button title="向上移动" class="moveup" type="button">&nbsp;</button>
     <button title="向下移动" class="movedown" type="button">&nbsp;</button>
     <button title="插入多媒体" class="set_url" type="button">&nbsp;</button>
     -->
     <button title="添加选项" class="insert" type="button">&nbsp;</button>
     <button title="删除选项" class="remove" type="button">&nbsp;</button>

     <input type="checkbox" name="allow_specify" id="allow_specify" />
     <label for="allow_specify">可填空</label>
     <span style="display: none;" class="setup_specify">
      宽
      <input type="text" maxlength="2" size="2" name="input_width" />
      字，至少
      <input type="text" maxlength="2" size="2" name="least_input" />
      字
      <span style="">
       ，最多
       <input type="text" maxlength="2" size="2" name="most_input" />
       字
      </span>
     </span>
     <span class="setup_exclusive" style="display: none;">
      <input type="checkbox" value="1" name="exclusive" id="exclusive" />
      <label title="当其他选项都不适用时，可以选择此功能，防止误选。" for="exclusive">与其它选项互斥</label>
     </span>
    </div>
   </div>
  </div>
 </form>

 <ol class="single_select_option_template surveypie">
  <li class="part select">
   <div class="float_buttons" style="display: none;">
    <button type="button" name="edit" title="编辑">
     <img src="/images/icon/icon_16_edit.gif" />
    </button>
    <button type="button" name="moveup" title="向上移动">
     <img src="/images/icon/icon_16_up.gif" />
    </button>
    <button type="button" name="movedown" title="向下移动">
     <img src="/images/icon/icon_16_down.gif" />
    </button>
    <button type="button" name="trigger" style="" title="定义逻辑">
     <img src="/images/icon/16_map.gif" />
    </button>
    <button type="button" name="remove" title="删除问题">
     <img src="/images/icon/16_del.gif" />
    </button>
   </div>
   <h4 class="title">
    <span class="subject">[新建选择题]</span>
    <span class="require">*</span>
   </h4>
   <div style="display: none;" class="intro"></div>
   <div class="content">
    
   </div>
  </li>
 </ol>
 
 <div id="option_template">
  <!-- 竖向展示 -->
  <div class="option_radio_vertical">
   <table class="options">
     <tbody>
      <tr class="odd" valign="top">
       <td>
        <input id="t_q_odd" name="q_" value="1" type="radio" />
        <label for="t_q_odd">[新建选项]</label>
       </td>
      </tr>
      <tr class="even" valign="top">
       <td>
        <input id="t_q_even" name="q_" value="2" type="radio" />
        <label for="t_q_even">[新建选项]</label>
       </td>
      </tr>
     </tbody>
    </table>
  </div>
 </div>

 <div id="batchAddOptionsDialog" class="container" style="position: relative; height: 300px; width: 400px;">
  <div class="body" style="overflow: hidden; height: 212px;">
   <p style="margin:2px 2px 8px 2px">输入选项，每项一行</p>
   <textarea cols="48" rows="10"></textarea>
  </div>
 </div>
 
 
</body>
</html>
